{{ if .Site.Data.content.Projects }}
<div id="projects" class="section">
    <div class="section__heading">
        <h2 class="section__title">{{ i18n "projects" }}</h2>
    </div>
    <div class="section__content">
        <div class="projects">
            {{ range .Site.Data.content.Projects }}
            <div class="projects__item">
                <div class="projects__header">
                    <h3 class="projects__company">
                        {{ .Employer | safeHTML }}
                    </h3>
                    <h3 class="projects__place">{{ .Place | safeHTML }}</h3>
                </div>
                {{ range .Positions }}
                <div class="projects__job">
                    <div class="projects__subheader">
                        <h3 class="projects__position">
                            <!-- {{ .Name | safeHTML}} -->
                        </h3>
                        <h3 class="projects__date">{{ .Date | safeHTML }}</h3>
                    </div>
                    <ul>
                        {{ range .Details }}
                        <li class="projects__bullet">{{ . }}</li>
                        {{ end }}
                    </ul>
                    <div class="experience__badges">
                        <ul>
                            {{ range .Badges }}
                            <li class="experience__badge">{{ . }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
